.login-card {
    background-color: #b2e1ed;
    height: auto;
    min-height: 79vh;
    max-width: 500px;
    margin: 20px;
    padding: 2rem 2.5rem;
    text-align: center; 
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    color: black;
}

.login-card h2 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.login-card form input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    border: 1px solid #444;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: 'Life Savers', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen';
}

.login-card button {
    background-color: #092e67;
    color: white;
    border: none;
    margin-top: 0.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #0d3b8e;
}